body{
    background-color: rgb(214, 98, 214);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.todo-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-task{
    background-color: white;
    border-radius: 25px;
}
.create-task input{
    border: none;
}
.create-task input:focus{
    outline: none;
}
.create-task button{
    width: 40px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(226, 223, 223);
}

li{
    list-style:none;
    display: flex;
    position: relative;
    justify-content:flex-start;
    background-color: rgb(143, 238, 238);
    padding: 10px 5px;
    margin: 10px 0px;
    border-radius: 5px;
    width: 100%;
}
.show-tasks__list{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    border-radius: 5px;
    padding-right: 20px;
}

li button{
    position: absolute;
    top: 10;
    right: 0;
    
}